.box{background-color:#c06c84;
    margin: 0 auto;
    padding: 25px;
    max-width: 700px;
    display:block;
    border-radius: 12px;}

#city{
        padding: 15px;
    border: none;
    width: 45%;
    font-size: 16px;
    border-radius: 12px;
    background-color: #ffe9e3;
}
#searching{
    padding: 15px;
    border: none;
    width: 20%;
    font-size: 16px;
    background-color:#ff847c;
    border-radius: 12px;
}
strong{color:#c3bef0;}

.weather-data{display: block;}
.weather-temp{display: flex;
justify-content:right; position: relative;
top: -79px;
left:-110px;
margin-bottom: -60px;
}
.weather-temp-number{font-size: 70px;
font-weight: bold;}

.weather-icon{font-size: 37px;
margin-top: 15px;}

.weather-degree{
    font-size: 30px;
    margin-top: 10px;
}
a{color: #ff847c;}